Repository vexip-ui/vexip-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint:style

fix: some styles and bug
  .lintstagedrc
  .stylelintrc.js
  package.json
  src/components/button/button.vue
  src/components/popup/popup-item.vue
  src/index.js
  src/style/animation/popup.scss
  src/style/components/button.scss
  src/style/components/checkbox.scss
  src/style/components/color-picker.scss
  src/style/components/conveyor.scss
  src/style/components/form.scss
  src/style/components/icon.scss
  src/style/components/index.scss
  src/style/components/input-group.scss
  src/style/components/input.scss
  src/style/components/menu.scss
  src/style/components/pagination.scss
  src/style/components/picture-viewer.scss
  src/style/components/radio.scss
  src/style/components/scrollbar.scss
  src/style/components/switcher.scss
  src/style/components/tab-nav.scss
  src/style/components/textarea.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: add table row draggable
  .lintstagedrc
  package.json
  src/components/table/store.js
  src/components/table/table-row.vue
  src/components/table/table.vue
  src/components/tree/tree-node.vue
  src/components/tree/tree.vue
  src/style/components/table.scss
  src/utils/common.ts
Due: npm run lint, prettier --write, npm run lint:style

feat: select add options prop and list scroll
  src/components/auto-complete/auto-complete.vue
  src/components/modal/modal.vue
  src/components/scroll/scroll.vue
  src/components/select/select.vue
  src/style/components/modal.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: add input state prop
  package.json
  src/components/auto-complete/auto-complete.vue
  src/components/date-picker/date-picker.vue
  src/components/date-picker/time-picker.vue
  src/components/input/input-group.vue
  src/components/input/input.vue
  src/components/select/select.vue
  src/style/basis/variable.scss
  src/style/components/form.scss
  src/style/components/input-group.scss
  src/style/components/input.scss
Due: npm run lint, prettier --write, npm run lint:style

style: eslint object curly spacing
  .eslintrc.js
  package.json
  src/components/badge/badge.vue
  src/components/carousel/carousel-item.vue
  src/components/color-picker/color-alpha.vue
  src/components/color-picker/color-hue.vue
  src/components/color-picker/color-picker.vue
  src/components/drawer/drawer.vue
  src/components/form/form-item.vue
  src/components/input/input-group.vue
  src/components/input/input.vue
  src/components/linker/index.js
  src/components/linker/linker.vue
  src/components/message/message.vue
  src/components/modal/modal.vue
  src/components/notice/notice.vue
  src/components/picture/picture-viewer.vue
  src/components/popup/popup-item.vue
  src/components/popup/popup.vue
  src/components/table/table-cell.vue
  src/components/table/table-head-cell.vue
  src/components/table/table.vue
  src/index.js
  src/shims-index.d.ts
  src/style/basis/variable.scss
  src/style/components/drawer.scss
  src/style/components/index.scss
  src/style/components/linker.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: add horizontal mode menu
  package.json
  src/components/menu/menu-group.vue
  src/components/menu/menu-item.vue
  src/components/menu/menu.vue
  src/style/animation/drop.scss
  src/style/basis/variable.scss
  src/style/components/menu.scss
Due: npm run lint, prettier --write, npm run lint:style

fix: select, tabs, scroll some bugs
  .eslintrc.js
  .lintstagedrc
  package.json
  src/components/button/button.vue
  src/components/date-picker/date-picker.vue
  src/components/menu/menu-group.vue
  src/components/menu/menu-item.vue
  src/components/menu/menu.vue
  src/components/option/option.vue
  src/components/scroll/scroll.vue
  src/components/scroll/scrollbar.vue
  src/components/select/select.vue
  src/components/tabs/tab-nav.vue
  src/components/tabs/tab-pane.vue
  src/components/tabs/tabs.vue
  src/style/components/card.scss
  src/style/components/menu.scss
  src/style/components/scroll.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: add alert component
  package.json
  src/components/alert/alert.vue
  src/components/alert/index.js
  src/components/auto-complete/auto-complete.vue
  src/components/collapse/collapse-transition.js
  src/components/confirm/confirm.vue
  src/components/drawer/drawer.vue
  src/components/icon/index.js
  src/components/masker/masker.vue
  src/components/message/message.vue
  src/components/modal/modal.vue
  src/components/notice/notice.vue
  src/components/option/option.vue
  src/components/picture/picture-viewer.vue
  src/index.js
  src/style/components/alert.scss
  src/style/components/index.scss
  src/style/components/message.scss
  src/style/components/notice.scss
Due: npm run lint, prettier --write, npm run lint:style

fix: table column width incorrect
  package.json
  src/components/drawer/drawer.vue
  src/components/masker/masker.vue
  src/components/modal/modal.vue
  src/components/table/table-cell.vue
  src/components/table/table-head-cell.vue
  src/components/table/table.vue
Due: npm run lint, prettier --write, npm run lint:style

fix: icon and menu bug
  package.json
  src/components/icon/index.js
  src/components/menu/menu.vue
  src/components/scroll/scroll.vue
Due: npm run lint, prettier --write, npm run lint:style

feat: table dynamic render
  package.json
  src/components/select/select.vue
  src/components/switcher/switcher.vue
  src/components/table/store.js
  src/components/table/table-body.vue
  src/components/table/table-row.vue
  src/components/table/table.vue
  src/style/basis/variable.scss
  src/style/components/form.scss
  src/style/components/switcher.scss
  src/style/components/tab-nav.scss
  src/style/components/timeline.scss
Due: npm run lint, prettier --write, npm run lint:style

fix: pagination plugin bugs
  package.json
  src/components/input/input.vue
  src/components/message/message.vue
  src/components/notice/index.js
  src/components/notice/notice.vue
  src/components/pagination/page-count.vue
  src/components/pagination/page-jump.vue
  src/components/pagination/page-total.vue
  src/components/pagination/pagination.vue
  src/components/popup/popup.vue
  src/components/select/select.vue
  src/components/table/table.vue
  src/index.js
  src/style/components/notice.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: add anchor component
  .eslintrc.js
  package.json
  src/components/anchor/anchor-link.vue
  src/components/anchor/anchor.vue
  src/components/anchor/index.js
  src/components/date-picker/date-picker.vue
  src/components/date-picker/time-picker.vue
  src/components/input-group/index.js
  src/components/multiple-input/index.js
  src/components/multiple-input/multiple-input.vue
  src/components/number-input/index.js
  src/components/number-input/number-input.vue
  src/components/scroll/scroll.vue
  src/components/scroll/scrollbar.vue
  src/components/table/store.js
  src/components/table/table-head-cell.vue
  src/components/table/table.vue
  src/index.js
  src/style/components/anchor.scss
  src/style/components/date-picker.scss
  src/style/components/form.scss
  src/style/components/index.scss
  src/style/components/multiple-input.scss
  src/style/components/number-input.scss
  src/style/components/table.scss
  src/style/components/time-picker.scss
  src/utils/color.ts
  src/utils/common.ts
  src/utils/event.ts
  yarn.lock
Due: npm run lint, prettier --write, npm run lint:style

dev: in development
  .eslintrc.js
  package.json
  src/components/anchor/anchor-link.vue
  src/components/anchor/anchor.vue
  src/components/basis/condition.js
  src/components/calendar/calendar-base.vue
  src/components/collapse/collapse-pane.vue
  src/components/collapse/collapse.vue
  src/components/confirm/confirm.vue
  src/components/confirm/index.js
  src/components/date-picker/date-picker.vue
  src/components/form/validator.js
  src/components/input/input.vue
  src/components/menu/menu.vue
  src/components/message/index.js
  src/components/message/message.vue
  src/components/modal/modal.vue
  src/components/notice/notice.vue
  src/components/popup/popup-item.vue
  src/components/popup/popup.vue
  src/components/scroll/scroll.vue
  src/components/slider/slider.vue
  src/components/table/store.js
  src/components/table/table-body.vue
  src/components/table/table-row.vue
  src/components/table/table.vue
  src/components/tooltip/tooltip.vue
  src/style/basis/variable.scss
  src/style/components/date-picker.scss
  src/style/components/input.scss
  src/style/components/table.scss
  src/style/components/wheel.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: autocomplete add control slot
  src/components/auto-complete/auto-complete.vue
  src/components/carousel/carousel.vue
Due: npm run lint, prettier --write, npm run lint:style

feat: optimize some components
  package.json
  src/components/anchor/anchor-link.vue
  src/components/anchor/anchor.vue
  src/components/dropdown/dropdown.vue
  src/components/linker/linker.vue
  src/components/split/split.vue
  src/components/table/table-head-cell.vue
  src/utils/common.ts
Due: npm run lint, prettier --write, npm run lint:style

fix: fix some problems
  package.json
  src/components/color-picker/color-picker.vue
  src/components/form/form-item.vue
  src/components/input/input.vue
  src/components/radio/radio-group.vue
  src/components/upload/upload.vue
  src/style/basis/global.scss
  src/style/basis/variable.scss
  src/style/components/radio.scss
  src/utils/color.ts
Due: npm run lint, prettier --write, npm run lint:style

feat: tabs and tab-nav add v-model
  package.json
  src/components/alert/alert.vue
  src/components/tabs/tab-nav-item.vue
  src/components/tabs/tab-nav.vue
  src/components/tabs/tab-pane.vue
  src/components/tabs/tabs.vue
Due: npm run lint, prettier --write, npm run lint:style

fix: table drag end event
  package.json
  src/components/table/table-row.vue
  src/components/table/table.vue
  src/components/tag/tag.vue
  src/style/components/tag.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: some details optimization
  .stylelintignore
  components/button/button.vue
  components/modal/modal.vue
  components/table/table.vue
  package.json
  src/mixins/popper.js
  src/style/components/button.scss
  src/style/components/select.scss
  yarn.lock
Due: npm run lint, prettier --write, npm run lint:style

feat: add transfer dom mixin
  components/button/button.vue
  components/collapse/collapse-transition.js
  components/drawer/drawer.vue
  components/masker/masker.vue
  components/modal/modal.vue
  src/mixins/transfer-dom.js
  src/style/components/button.scss
Due: npm run lint, prettier --write, npm run lint:style

feat: add global config option
  components/auto-complete/auto-complete.vue
  components/button/button.vue
  components/checkbox/checkbox-group.vue
  components/checkbox/checkbox.vue
  components/color-picker/color-picker.vue
  components/date-picker/date-picker.vue
  components/date-picker/time-picker.vue
  components/drawer/drawer.vue
  components/input/input.vue
  components/modal/modal.vue
  components/multiple-input/multiple-input.vue
  components/number-input/number-input.vue
  components/pagination/pagination.vue
  components/radio/radio-group.vue
  components/radio/radio.vue
  components/select/select.vue
  components/switcher/switcher.vue
  components/table/table-column.vue
  src/config/defaults.ts
  src/config/properties.js
  src/index.js
  src/mixins/popper.js
  src/mixins/transfer-dom.js
  src/style/components/button.scss
  src/style/mixins/basis.scss
  src/utils/common.ts
Due: npm run lint, prettier --write, npm run lint:style

refactor: implementation of form item injection
  components/auto-complete/auto-complete.vue
  components/checkbox/checkbox-group.vue
  components/checkbox/checkbox.vue
  components/color-picker/color-picker.vue
  components/date-picker/date-picker.vue
  components/date-picker/time-picker.vue
  components/form/form-item.vue
  components/form/validator.js
  components/input/input.vue
  components/multiple-input/multiple-input.vue
  components/number-input/number-input.vue
  components/radio/radio-group.vue
  components/radio/radio.vue
  components/select/select.vue
  components/switcher/switcher.vue
  components/textarea/textarea.vue
  package.json
  src/style/components/checkbox.scss
Due: prettier --write, npm run lint:style

fix: upload input delete file
  components/upload/upload.vue
  package.json
  src/config/properties.js
Due: npm run lint, prettier --write

feat: add table row expand
  components/table/store.js
  components/table/table-body.vue
  components/table/table-cell.vue
  components/table/table-column.vue
  components/table/table-head-cell.vue
  components/table/table-row.vue
  components/table/table.vue
  package.json
  src/style/components/scrollbar.scss
  src/style/components/table.scss
Due: prettier --write, npm run lint:style

feat: scroll add autoplay
  components/carousel/carousel.vue
  components/scroll/scroll.vue
  components/scroll/scrollbar.vue
  package.json
  src/utils/common.ts
Due: npm run lint, prettier --write

feat: input, autocomplete add clearable
  .lintstagedrc
  components/anchor/anchor.vue
  components/auto-complete/auto-complete.vue
  components/input/input.vue
  components/select/select.vue
  package.json
  src/style/components/button.scss
  src/style/components/icon.scss
  src/style/components/input.scss
  src/style/components/select.scss
  yarn.lock
Due: prettier --write, npm run lint:style

docs: update README.md
  README.md
Due: none

feat: collapse add ghost, icon
  components/collapse/collapse-pane.vue
  components/collapse/collapse.vue
  components/drawer/drawer.vue
  components/modal/modal.vue
  src/style/components/collapse.scss
Due: prettier --write, npm run lint:style

feat: upload add support promise
  components/upload/request.js
  components/upload/upload.vue
  package.json
  src/style/components/upload.scss
Due: prettier --write, npm run lint:style

feat: enhance message, notice props: color, background
  components/message/index.js
  components/message/message.vue
  components/notice/index.js
  components/notice/notice.vue
  components/popup/popup.vue
  package.json
  src/config/defaults.ts
  src/config/properties.js
  src/style/components/message.scss
  src/style/components/notice.scss
Due: npm run lint, prettier --write, npm run lint:style

fix: incorrect notice style
  components/confirm/confirm.vue
  components/confirm/index.js
  components/message/index.js
  components/message/message.vue
  components/notice/index.js
  components/notice/notice.vue
  package.json
  src/style/components/confirm.scss
  src/style/components/notice.scss
Due: prettier --write, npm run lint:style

feat: scroll add scroll to element method
  .stylelintignore
  components/message/message.vue
  components/modal/modal.vue
  components/notice/notice.vue
  components/scroll/scroll.vue
  components/split/split.vue
  src/style/components/checkbox.scss
  src/style/components/radio.scss
  src/style/components/scroll.scss
  src/style/components/upload.scss
Due: prettier --write, npm run lint:style

dev: in development
  components/upload/upload.vue
  src/style/components/upload.scss
Due: prettier --write, npm run lint:style

feat: upload add list-type
  components/upload/request.js
  components/upload/upload.vue
  src/style/components/upload.scss
Due: prettier --write, npm run lint:style

feat: upload add progress animation
  components/upload/upload-file.vue
  components/upload/upload.vue
  src/style/components/upload.scss
Due: prettier --write, npm run lint:style

chore: upload adjust margin
  components/upload/upload-file.vue
Due: none

fix: function type prop default value
  package.json
  src/config/properties.ts
Due: npm run lint, prettier --write

Path conditions:
  npm run lint: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  prettier --write: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.scss)) or (any of: src/**/*.vue)
  npm run lint:style: (any of: src/**/*.scss) or (any of: src/**/*.vue)
