Repository vexip-ui/vexip-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint, yarn run lint:style

fix: upload, auto-complete some problem
  components/auto-complete/auto-complete.vue
  components/table/table-column.vue
  components/tabs/tab-nav-item.vue
  components/upload/upload.vue
  package.json
  src/style/components/color-picker.scss
Due: yarn run lint:style

feat: scroll no-buffer and vertical slider
  components/scroll/scroll.vue
  components/slider/slider.vue
  package.json
  src/style/components/scroll.scss
  src/style/components/slider.scss
  src/utils/common.ts
  yarn.lock
Due: prettier --write, yarn run lint, yarn run lint:style

feat: support shift wheel to control horizontal scroll
  components/pagination/pagination.vue
  components/scroll/scroll.vue
  components/tabs/tab-nav-item.vue
  components/timeline/timeline-item.vue
  components/timeline/timeline.vue
  package.json
  src/config/properties.ts
  src/style/components/icon.scss
  src/style/components/scroll.scss
  src/style/components/timeline.scss
Due: prettier --write, yarn run lint, yarn run lint:style

feat: table add props of page, filter event
  components/table/store.js
  components/table/table-head-cell.vue
  components/table/table.vue
  package.json
  src/style/components/table.scss
Due: yarn run lint:style

fix: table default page size, scroll
  components/scroll/scroll.vue
  components/table/table-column.vue
  components/table/table-row.vue
  components/table/table.vue
Due: none

fix: date picker year and month type pane error
  components/date-picker/date-picker.vue
  components/scroll/scroll.vue
  package.json
Due: none

feat: tab-nav add marker slot
  components/tabs/tab-nav.vue
  package.json
  src/style/components/tab-nav.scss
Due: yarn run lint:style

fix: table customized sort method can't access value
  components/table/store.js
  package.json
Due: none

feat: modal add positioning properties (right, bottom, height)
  components/modal/modal.vue
  components/tabs/tabs.vue
  package.json
  src/style/components/modal.scss
Due: yarn run lint:style

feat: tag add customized color prop
  components/tag/tag.vue
  package.json
  src/style/components/tag.scss
Due: yarn run lint:style

fix: fix some bugs and add some events
  components/bubble/bubble.vue
  components/carousel/carousel.vue
  components/menu/menu-item.vue
  components/modal/modal.vue
  components/split/split.vue
  components/tag/tag.vue
  components/textarea/textarea.vue
  package.json
Due: none

fix(switcher): prop beforeClose change to beforeChange
  components/switcher/switcher.vue
Due: none

feat(collapse-pane): add v-model feature
  components/collapse/collapse-pane.vue
Due: none

fix(switcher): using v-model trigger twice beforeChange
  components/switcher/switcher.vue
Due: none

feat(auto-complete): add use the arrow keys to select
  components/auto-complete/auto-complete.vue
  components/input/input.vue
  components/select/select.vue
  package.json
  src/style/components/auto-complete.scss
  src/style/components/index.scss
  src/style/components/input.scss
Due: yarn run lint:style

feat(tree): add readonly prop and sync node state api
  components/tree/tree-node.vue
  components/tree/tree.vue
  package.json
  src/style/components/tree.scss
  src/utils/common.ts
  types/src/utils/common.d.ts
Due: prettier --write, yarn run lint, yarn run lint:style

fix(tree): node may disappear when drop to the root
  components/tree/tree-node.vue
  components/tree/tree.vue
  package.json
Due: none

feat(tree): add label slot bound node data
  components/tree/tree-node.vue
  components/tree/tree.vue
  package.json
Due: none

ci: ignore unit test when release
  package.json
  scripts/release.js
  yarn.lock
Due: none

release: v1.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: none

ci: specify release registry
  scripts/release.js
Due: none

chore: correct lint script target dir
  package.json
Due: none

chore(scss): math.div replace slash as division
  style/column.scss
  vite.config.ts
Due: none

release: v1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: none

fix: complete missing components export
  components/index.ts
  components/menu-group/index.ts
  components/menu-item/index.ts
  components/tab-pane/index.ts
  style/menu-group.scss
  style/menu-item.scss
Due: none

release: v1.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: none

release: v1.0.0-alpha.3
  CHANGELOG.md
  package.json
Due: none

fix(scss): themes at import use relative path
  design/variables.scss
  style/index.scss
  themes/common.scss
Due: none

fix(collapse-transition): appear props
  components/collapse/collapse-transition.ts
Due: none

fix(animation): lose spin animation
  design/animation/index.scss
  design/animation/spin.scss
  style/icon.scss
Due: none

fix(button): loading icon missing collapse transion
  components/button/button.vue
Due: none

fix(menu): can not support horizontal mode
  components/menu/__serve__/app.vue
  components/menu/menu-group.vue
  components/menu/menu-item.vue
  components/menu/menu.vue
  components/menu/symbol.ts
Due: none

fix(portal): render teleport after mounted next tick
  components/portal/portal.vue
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  yarn run lint: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.vue)
  yarn run lint:style: any of: src/**/*.scss
